/* reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img {
    display: block;
}
/* variabili colore */
:root {
    --section-gray: #f6f6f6 ;
    --footer-background: #23272A;
    --footer-item: #ccff00;
}

html {
    font-family: sans-serif;
    line-height: 160%;
}

/* start header */
header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 15px;
    /* height: 500px; */
    color: white;
}

.flex {
    display: flex;
}


header > .flex {
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    gap: 15px;
}

nav .btn-accedi {
    padding-inline: 15px;
    padding-block: 10px;
    background-color: white;
    border-radius: 20px ;
    border: none;
    color: black;

}

/* contenitore testo header */
.box-hero{
    text-align: center;
    width: 60%;
    margin: 40px auto;
    /* margin-top: 30px; */
    padding: 50px;

} 

.box-hero h1, 
.box-hero p,
.box-hero button {
    margin: 20px;
}

.box-hero > button {
    padding: 15px 10px;
    border-radius: 50px;
    border: none;

}

.btn-scarica {
    background-color: white;
    color: black;
}
.btn-browser {
    background-color: black;
    color: white;
}


/* inizio main */

/* contenitore default per le section */
.container-80 {
    width: 80%;
    margin: 0 auto;
}

/* sfondo grigio per alcune section  */
.bg-gray {
    background-color: var(--section-gray);
}

main section {
    padding: 20px 0;
}

figure.flex-basis-60 > img {
    width: 100%;
}



.flex-basis-60 {
    flex-basis: 60%;

}

.flex-basis-40 {
    padding-top: 20px;
    flex-basis: 40%;

}

/* selettore che prende l'ultima section  */
main section:last-child > div {
    flex-direction: column;
}



/* start footer */
footer {
    background-color: var(--footer-background);
    height: 300px;
}

/* contenitore footer alto */
.container-footer-top{
    justify-content: space-between;
    margin: 0 auto;

}

.container-footer-top section {
    background-color: var(--footer-item);
    flex-basis: 300px;
    height: 20px;
}

.container-footer-top div{
    background-color: var(--footer-item);
    flex-basis: 50px;
    height: 100px;
    margin-bottom: 20px;

}



/* contenitore footer basso */
.container-footer-bottom {
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid var(--footer-item);
}

.container-footer-bottom figure  {
    background-color: var(--footer-item);
    flex-basis: 50px;
    height: 20px;
}

.container-footer-bottom button {
    background-color: var(--footer-item);
    flex-basis: 100px;
    height: 20px;
}

